[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cosmicsig"]
	path = cosmicsig
	url = https://github.com/rozen-lab/cosmicsig
[submodule "mSigTools"]
	path = mSigTools
	url = https://github.com/rozen-lab/msigtools
